body {
  background-color: coral;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.reset-container h2 {
  color: rgb(1, 1, 41);
  text-align: center;
}
.reset-container label {
  display: block;
  margin-bottom: 3px;
  color: rgb(1, 1, 41);
}
.reset-container input {
  margin-bottom: 5px;
}
.reset-container button {
  display: block;
  margin: 5px auto;
  color: white;
  background-color: rgb(1, 1, 41);
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
